$error-color: red;

$gradient-color1: #7b69fd;
$gradient-color2: #00e7ff;
$gradient-color3: #5e66fd;
$gradient-color4: #d787ba;
$gradient-color5: #cdffe9;
$gradient-color6: #cfe4a9;
$color-acc: #464776;
$color-white: #fff;
$color-grey: #ccc;

$color-accent: $gradient-color3;
